/* RESET BASE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #1e1919;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

/* HEADER */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn-blue {
  background-color: #0061ff;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  display: inline-block;
}

.btn-blue:hover {
  background-color: #0051d8;
}

.logo {
  height: 24px;
  margin-right: 20px;
}

/*HERO*/
.hero-section {
  background-color: #b4d0e6;
  padding: 80px 0 40px;
}

.hero-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-size: 38px;
  margin-bottom: 40px;
  font-weight: 700;
  text-align: center;
}

.hero-content {
  display: flex;
  gap: 40px;
}

.hero-text {
  flex: 1;
}

.hero-image {
  flex: 1;
}

.hero-text p {
  margin-bottom: 30px;
}

.small-text {
  font-size: 14px;
  margin-top: 10px;
}

.arrow-down {
  margin-top: 40px;
  font-size: 24px;
  color: black;
}
